{% extends "layout.html" %}

{% block content %}
  <h2>Update People Deets</h2>

  <form method="POST" action="/people/{{person.id}}?_method=PUT" >
    <div>
      <label>Name</label>
      <input name="name" type="text" value={{person.name}} />

      <div>
        <label>Favorite City</label>
        <input name="favoriteCity" type="text" value={{person.favoriteCity}} />
      </div>

      <div>
        <button type="submit">Update</button>
      </div>
    </div>

  </form>
  {% endblock %}

  {% block delete %}
   <form method="POST" action="/people/{{person.id}}?_method=DELETE" >
      <div>
        <button type="submit" onclick="return confirm('Sure you want to remove this person?');">Remove</button>
      </div>
  </form>

{% endblock %}

{% block jsonResponse %}
  {{json}}
{% endblock %}
